<!-- breadcrumbs -->
<ul class="breadcrumb">
  <li>
    <%= link_to 'Home', root_path %> <span class="divider">/</span>
  </li>
  <li class="active">Contact</li>
</ul>

<div class="row" id="events">
  <div class="span9 offset1">
    <h1>Contact</h1>
    
  </div>  
</div>