/*--------------- Main Menu --------------------*/
#main-menu {
  background-color: black;
  opacity: 0.7;

  ul {
    position: relative;
    list-style: none;
    list-style-position: inside;
    margin: 0;    

    li {
      display: inline-block;
      width: 232px;
      text-align: center;

      a {
        display: inline-block;
        width: 100%;
        padding: 9px 0;
        font-size: 14px;
      }

      ul {
        position: absolute;
        background-color: black;
        opacity: 0.7;  
        display: none;      

        li {
          display: block;
        }
      }
    }
  }
}